<div>
  <span (dblclick)="changeName(idx)" *ngFor="let item of data;let idx = index">
    <div class="text" data-id="cons-{{idx}}">
      {{item}}
    </div>
    <input hidden data-id="cons-{{idx}}" #consInp matInput placeholder="Cons text" value="">
    <span>
      <i class="material-icons" (click)="removeItem(idx)"> close </i>
    </span>
  </span>
</div>
<form>
  <span>
    <mat-form-field>
      <input #consInp matInput placeholder="Cons text" value="">
    </mat-form-field>
  </span>
  <span>
    <button mat-raised-button color="primary" [disabled]="consInp.value==0" (click)="addItem(consInp)">Send</button>
  </span>
</form>