<main>
  <div>
    <strong>
      Should I... ?
    </strong>
    <div class="tabs">
      <div>
        <div class="icon icon-pros">
          <img src="./assets/img/like.png" alt="">
        </div>
        <span>
          Pros
        </span>
        <app-pros></app-pros>
      </div>
      <div>
        <div class="icon icon-cons">
          <img src="./assets/img/dislike.png" alt="">
        </div>
        <span>
          Cons
        </span>
        <app-cons></app-cons>
      </div>
    </div>
  </div>
</main>