/* You can add global styles to this file, and also import other style files */
$backColor: #ededed;

html, body { height: 100%; }
body { margin: 0;background-color: $backColor; font-family: Roboto, "Helvetica Neue", sans-serif; }

// angular material css
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
